[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gunicorn = "*"
dj-database-url = "*"
python-decouple = "*"
whitenoise = "*"
django-cors-headers = "*"
"psycopg2-binary" = "*"
django = "*"

[dev-packages]

[requires]
python_version = "3.7"
