appdirs==1.4.3
attrs==18.1.0
black==18.6b4
bokeh==0.13.0
certifi==2018.4.16
click==6.7
dj-database-url==0.5.0
Django==2.1.1
django-cors-headers==2.4.0
djangorestframework==3.8.2
gunicorn==19.9.0
Jinja2==2.10
MarkupSafe==1.0
numpy==1.15.0
packaging==17.1
pipenv==2018.7.1
psycopg2-binary==2.7.5
pygame==1.9.3
pyparsing==2.2.0
python-dateutil==2.7.3
python-decouple==3.1
pytz==2018.5
PyYAML==3.13
six==1.11.0
toml==0.9.4
tornado==5.1
virtualenv==16.0.0
virtualenv-clone==0.3.0
whitenoise==4.0
