[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
python-decouple = "*"
djangorestframework = "*"
django-cors-headers = "*"
djangorestframework-jwt = "*"
requests = "*"
whitenoise = "*"
datetime = "*"
dj-database-url = "*"
django-rest-multiple-models = "*"

[dev-packages]

[requires]
python_version = "3.6"
