bokeh==0.13.0
certifi==2018.8.24
dj-database-url==0.5.0
Django==2.1.1
django-cors-headers==2.4.0
djangorestframework==3.8.2
gunicorn==19.9.0
flake8==3.5.0
Jinja2==2.10
MarkupSafe==1.0
mccabe==0.6.1
psycopg2-binary==2.7.5
numpy==1.15.1
packaging==17.1
pipenv==2018.7.1
pycodestyle==2.3.1
pyflakes==1.6.0
pyparsing==2.2.0
python-dateutil==2.7.3
python-decouple==3.1
pytz==2018.5
PyYAML==3.13
six==1.11.0
tornado==5.1
virtualenv==16.0.0
virtualenv-clone==0.3.0
whitenoise==4.1
